//TOC
//1.FONT&TEXT
//1-1.FONT-SIZE
$font-size-h1: 4rem;
$font-size-h2: 3rem;
$font-size-h3: 2.34rem;
$font-size-h4: 2rem;
$font-size-h5: 1.66rem;
$font-size-h6: 1.34rem;
//1-2.TEXT-PADDING
$text-padding-h1: calc($font-size-h1/2);
$text-padding-h2: calc($font-size-h2/2);
$text-padding-h3: calc($font-size-h3/2);
$text-padding-h4: calc($font-size-h4/2);
$text-padding-h5: calc($font-size-h5/2);
$text-padding-h6: calc($font-size-h6/2);
//1-3.TEXT-ALIGN
$text-align-h1: center;
$text-align-h2: center;
$text-align-h3: center;
$text-align-h4: center;
$text-align-h5: center;
$text-align-h6: center;
//1-4.TEXT-TRRANSFORM
$text-transform-h1: uppercase;
$text-transform-h2: uppercase;
$text-transform-h3: capitalize;
$text-transform-h4: capitalize;
$text-transform-h5: none;
$text-transform-h6: none;
//1-5.FONT&TEXT ETC
$font-family: "Source Sans Pro", sans-serif;
//2.COLOR
$color-main: #005000;
$color-sub: #003000;
