h1 {
  font-size: $font-size-h1;
  padding: $text-padding-h1;
  text-align: $text-align-h1;
  text-transform: $text-transform-h1;
}
h2 {
  font-size: $font-size-h2;
  padding: $text-padding-h2;
  text-align: $text-align-h2;
  text-transform: $text-transform-h2;
}
h3 {
  font-size: $font-size-h3;
  padding: $text-padding-h3;
  text-align: $text-align-h3;
  text-transform: $text-transform-h3;
}
h4 {
  font-size: $font-size-h4;
  padding: $text-padding-h4;
  text-align: $text-align-h4;
  text-transform: $text-transform-h4;
}
h5 {
  font-size: $font-size-h5;
  padding: $text-padding-h5;
  text-align: $text-align-h5;
  text-transform: $text-transform-h5;
}
h6 {
  font-size: $font-size-h6;
  padding: $text-padding-h6;
  text-align: $text-align-h6;
  text-transform: $text-transform-h6;
}
